@model Diplom.Models.Catigory

@{
    ViewBag.Title = "Изменение категорий";
}
<form asp-action="AdminEditCatigory" asp-controller="Home" enctype="multipart/form-data" method="post">

    <div class="form-group">
        <label asp-for="Id" class="control-label">Id</label>
        <input type="text" asp-for="Id" readonly class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="name" class="control-label">Название катеогии</label>
        <input type="text" asp-for="name" class="form-control" />
    </div>

    <br />
    <div class="form-group">
        <input type="submit" style="background-color: #66a5ad !important; color: white" value="Отправить" class="btn btn-default" />
    </div>
</form>
