<a asp-action="CommentsList" asp-controller="Home" class="btn btn-primary">Комметарии</a>
<a asp-action="AdminEventsList" asp-controller="Home" class="btn btn-primary">Список мероприятий</a>
<a asp-action="Index" asp-controller="Roles" class="btn btn-primary">Роли</a>
<a asp-action="Index" asp-controller="Users" class="btn btn-primary">Список пользователей</a>
<a asp-action="AdminCatigoryList" asp-controller="Home" class="btn btn-primary">Список категорий</a>
<a asp-action="AdminStatistics" asp-controller="Home" class="btn btn-primary">Статистика</a>
<a asp-action="AddStatistics" asp-controller="Home" class="btn btn-primary">Добавление статистики</a>
<a asp-action="AdminPaidList" asp-controller="Home" class="btn btn-primary">Монетизация</a>
