@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<p><b>Список ролей</b></p>


@*<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Список пользователей</a>*@

<div>
    <a asp-action="Create" asp-controller="Roles" class="btn btn-primary">Добавить роль</a>
    <a asp-action="UserList" asp-controller="Roles" class="btn btn-primary">Список пользователей</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <th scope="row">@role.Name</th>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>